%h1 About animeList
%p animeList is designed to help you create your own list of anime.
%p You can find new anime here by searching the database and narrowing your results with a number of filters such as rating, genre or keyword tags.
%p You can add anime that you've previously watched or would like to watch in the future to your own list, rating and reviewing both series as a whole and individual episodes.