- provide :title, 'All shows'

%h1 All shows

.row
  .small-12.columns
    = render 'layouts/all_shows'

%br

- if current_user.admin?
  = link_to 'New show', new_show_path, class: "button round button-black"

= link_to 'My shows', new_show_path, class: "button round button-black"