%footer
  .row
    .small-9.columns Copyright &copy; Infinite Horses 2013
    .small-3.columns.text-right
      %ul.inline-list
        %li
          %a{:href => '/contact'} Contact Us
        %li
          %a{:href => '/about'} About Us