%footer
  .row
    .small-9.columns.footer-text
      %ul.inline-list
        %li
          %h6.link-orange
            %a{:href => '/contact'} Contact
        %li
          %h6
            |
        %li
          %h6
            %a{:href => '/about'} About
    .small-3.columns.footer-text
      %ul.inline-list
        %li
          %h6.white-text Copyright &copy; Infinite Horses 2013