%footer
  .row
    .small-3.columns
      %ul.inline-list
        %li.text-80
          %a{:href => '/contact'} Contact
        %li.text-80
          |
        %li.text-80
          %a{:href => '/about'} About
    .small-9.columns.text-right.text-80 Copyright &copy; Infinite Horses 2013