%footer
  .row
    .small-9.columns.footer-text
      %ul.inline-list
        %li
          %h6
            = link_to 'Contact', contact_path
        %li
          %h6
            |
        %li
          %h6
            = link_to 'About', about_path
    .small-3.columns.footer-text
      %ul.inline-list
        %li
          %h6.white-text Copyright &copy; Infinite Horses 2013