.contain-to-grid
  %nav.top-bar
    %ul.title-area
      / Title Area
      %li.name
        %h1
          %a{:href => root_path} animeList
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li.divider.hide-for-small
        %li
          %a{:href => "#"} Login
        %li.divider.hide-for-small
        %li
          %a{:href => "#"} Sign up